.sized-div1 {
  width: 450px; /* Set the width of the div */
  height: 300px; /* Set the height of the div */
  background-color: #a8a8a8; /* Optional: Add a background color */
  text-align: center;
  align-items: center;
  position: sticky;
  margin-top: 50px;
  border: 3px solid #000000; /* Optional: Add a border */
}

.sized-div2{
    width: 450px; /* Set the width of the div */
    height: 450px; /* Set the height of the div */
    background-color: #a8a8a8; /* Optional: Add a background color */
    text-align: center;
    align-items: center;
    position: sticky;
    margin-top: 0px;
    border: 3px solid #000000; /* Optional: Add a border */
  }

.sized-div {
  width: 300px; /* Set the width of the div */
  height: 450px; /* Set the height of the div */
  background-color: #c5c4ca; /* Optional: Add a background color */
  text-align: center;
  align-items: center;
  padding: 30px;
  padding-left: 10px;
  position: fixed;
  border: 3px solid #261672; /* Optional: Add a border */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}
